#header{
      background:#1A3867;
      
}

.module h2, .module caption, .inline-group h2 {
   
    background:#1A3867;
    
}

#header {
    background:#1A3867;
    color: #fff;
    height: 70px;
}

